*{
  margin: 0;
  padding: 0;

 }
  body {
    background-color: #f5f5dc;
    font-family: 'Roboto', sans-serif;
    
    }
    
  /* FONTS */
    
  h1, h2, h3 {
      text-transform: uppercase; 

    }
    
  /* HEADER */
  
  header {
      text-align: center;
      
    }
    
  header img {
      max-width: 100%;

    }
  
  header p {
      padding: 10px;
      font-size: 18px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.9);
      margin-bottom: 20px;

    }

  /* SECTION */
    
  .menu h2 {
      background-color: #008CBA;
      text-align: center;
      margin-bottom: 24px;
      font-size: 23px;
      color: whitesmoke;

    }
  .submenu h3 {
      width: 240px;
      line-height: 25px;
      margin-bottom: 5px;
      padding: 0 0 0 5px;
      font-size: 16px;


    }
  ._link {
      margin-left: 70%;
      position: absolute;
      background-color: #008CBA; 
      border: none;
      padding: 9px 13px;
      border-radius: 15px;

     
    }
   ._link:hover {
      background-color: #4CAF50; 
      transition-duration: 0.4s;

    } 
   .submenu button a {
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    
   }
    .details p {
      color: rgba(0, 0, 0, 0.8);
      font-size: 12px;
      line-height: 13px;
      padding: 5px;
      /*margin-bottom: 10px;*/
      


     }

  /* LISTA */
  ul li {
     margin-bottom: 12px;
     display: flex;
     border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }

 